@charset "utf-8";

/*visual*/
.visual{width:100%}
.visual img{width:100%; display:block;}

/*main_content*/
#main_content{width:100%;}
#main_content h2{font-size:34px; font-family: 'NotoKrL'; color:#fff; margin-bottom:40px;}
 
/*section1*/
.main_con_section1{background:#bb0712; padding:50px 0; text-align:center; border:1px solid #fff; border-left:0; border-right:0;}
.main_con_section1 ul{text-align:center; font-size:0;}
.main_con_section1 li{display:inline-block; font-size:14px; margin:0 3%}
.main_con_section1 li img{border-radius:100px;}
.main_con_section1 li:nth-child(odd) img{background:#820101}
.main_con_section1 li:nth-child(even) img{background:#fff}
.main_con_section1 li a{display:block;color:#fff}
.main_con_section1 li p{margin-top:10px;}

/*section2*/
.main_con_section2{background:url(../image/main/bg.jpg) no-repeat right top; background-size:cover; width:100%; height:241px;}
#main_content .main_con_section2 h2{margin-bottom:20px;}

.main_con_section2 > div{padding:40px 0 0 50px; color:#fff;}
.main_con_section2 > div p{line-height:135%; font-size:18px; font-family: 'NotoKrL'; margin-bottom:20px;}
.main_con_section2 > div a{display:inline-block; background:#000; color:#fff; padding:8px 35px; font-size:16px; font-family: 'NotoKrL';}

/*section3*/
.main_con_section3{width:100%; padding:40px 0; text-align:center;}
.bxslider > ul{overflow:hidden;}
.bxslider > ul li{float:left; text-align:left; width:45%;}
.bxslider > ul li span img{margin:0 auto; width:141px;}
.bxslider .coffee_text{padding-top:40px;padding-right:20px;}
.bxslider .coffee_text h3{font-size:20px; font-weight:normal; line-height:130%}
.bxslider .coffee_text p{font-size:14px; color:#b7413f; line-height:130%}
.bxslider .coffee_text .line{width:98%; border-top:1px solid #ccc; margin:20px 0;}

#main_content .main_con_section3 h2{color:#222}

/*section4*/
#main_content .main_con_section4 h2{margin-bottom:20px;}
.main_con_section4 ul{overflow:hidden}
.main_con_section4 li{float:left; width:50%; padding:30px 0; text-align:center}
.main_con_section4 li:first-child{background:url(../image/main/box1.jpg);}
.main_con_section4 li:last-child{background:url(../image/main/box2.jpg);}
.main_con_section4 li a{display:block; color:#fff;}
.main_con_section4 li p{padding:0 15px; font-size:18px; line-height:135%; margin-bottom:15px;}

/*section5*/
#main_content .main_con_section5 h2{color:#222; text-align:center;}
.main_con_section5{padding:40px 0}
.mov {
    position: relative;
    width:90%;
    padding-bottom: 56.25%;
	border:1px solid #ededed;
	margin:0 auto; 
}
.mov iframe, 
.mov object, 
.mov embed {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*footer*/
footer{background:#222; font-family: 'NotoKrL';}
footer div{padding-top:40px; text-align:center;}
footer div h2{color:#ff3442; margin-bottom:20px; font-size:24px;}
footer div p{color:#fff; line-height:135%; font-size:18px;}
footer div ul{border:1px solid #626262; border-right:0; border-left:0; margin:20px auto;}
footer div ul li{display:inline-block; margin:20px;}
footer div ul li a{color:#fff; font-size:16px;}
footer div span{display:block; color:#989898; font-size:14px; line-height:150%; padding-bottom:40px;}






