@charset "utf-8";

.inner{width:1200px; margin:0 auto;}

/*article*/
article {text-align:center; }

/*section*/
section{display:block; min-height:1019px; background:no-repeat top center;}
section .section_main{padding-top:155px;}
section .section_main h2{margin:20px 0 35px 0; font-size:48px; color:#fff;}
section .section_main h2 p{margin-bottom:20px;}
section .section_main > p{font-size:24px; line-height:130%; color:#fff;}

/*section_1*/
.section_1 {background:url(../image/main/main_vis.jpg)}
.section_1 .title{padding-top:340px;}
.section_1 .title h2{font-size:30px; color:#fff; font-weight:200;}
.section_1 .title h2 p{margin-bottom:40px; font-family:'NanumSquare'; font-size:24px; font-weight:200;}

.section_1 ul{margin-top:100px; font-size:0}
.section_1 ul li{margin:0 55px;display:inline-block; position:relative;}
.section_1 ul li a{font-size:20px;}

.section_1 ul li span{width:142px; height:142px; border-radius:100%; background:#fff; display:block;}
.section_1 ul li img{position:absolute;top:8%;left:50%;margin-left:-45px;}
.section_1 ul li p{margin-top:20px; font-family:'Nanum Gothic'; color:#fff; font-weight:400;}


/*section_2*/
.section_2{background:#bb0712;}
.section_2 .section_main h3{font-size:24px; color:#fff; margin-bottom:30px; font-weight:200;}
.section_2 .section_main p{font-size:20px; font-family:'NanumSquare'; color:#fff; line-height:120%;}
.section_2 .story{display:inline-block; margin-top:30px; padding:12px 55px; border-radius:100px; border:2px solid #fff; font-size:18px; color:#fff; font-family:'Nanum Gothic'; font-weight:normal;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
}
.section_2 ul{margin-top:75px; text-align:center; font-size:0;}
.section_2 ul li{display:inline-block; margin:0 35px; width:193px;height:193px;border-radius:100%;background:#fff;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;}
.section_2 ul li:nth-child(odd){background:#820101;}
.section_2 ul li p{margin-top:20px; color:#fff; font-family:'Nanum Gothic'; font-weight:bold;}
.section_2 ul li:nth-child(even) p{color:#820101;}
.section_2 ul li a{font-size:22px;}
.section_2 ul li img{margin-top:40px;}


/*section_3*/
.section_3{background:url(../image/main/menu_1.jpg) }

/*tab*/
    .man{width:100%; margin-top:30px;}
	.man ul.tabs {
		margin: 0;
		padding: 0;
		height: 53px;
		width:100%;
		font-size:0;
	}
	.man ul.tabs li {
		font-size:18px;
		display:inline-block;
		text-align:center;
		cursor: pointer;
		width:201px;
		height: 53px;
		line-height: 53px;
		color:#bb0712;
		background: #fff;
		position: relative;
		margin-right:1px;

	}
	.man ul.tabs li.active {
		background: #bb0712;
		color:#fff;
	}
	.man .tab_container {
		margin-top:20px;
		width:100%;
	}
	.man .tab_content {
		padding: 20px;
		display: none;
}
	.man .tab_content img{
		cursor: pointer;
		position:relative;
	}

/*********************************************/

/*section_4*/
.section_4{background:url(../image/main/about_vis.jpg)}
.section_4 .picture{margin-top:70px;}
.section_4 .picture li{display:inline-block; margin-right:10px;}

.section_4 .box{font-size:0; margin-top:80px; position:relative;}
.section_4 .box li{display:inline-block; width:128px; height:128px; border-radius:50%; background:#878787; margin:0 20px; position:relative;z-index:50}
.section_4 .box li a{display:block; font-size:22px; color:#fff; margin-top:55px;}
.section_4 .box span{display:block;width:740px; height:2px; background:#878787; position:absolute; top:434px; left:50%; margin:-370px; z-index:3}

/*section_5*/
.section_5{background:url(../image/main/news_vis.jpg)}
.section_5 ul{margin-top:75px; text-align:center; font-size:0;}
.section_5 ul li{display:inline-block; margin:0 35px; width:193px;height:193px;border-radius:100%;background:#fff;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;}
.section_5 ul li a{font-size:22px;}
.section_5 ul li img{margin-top:30px;}
.section_5 ul li p{margin-top:10px; color:#171717; font-weight:300}

.section_5 .section_main h2 p{margin-bottom:83px;}


/*effect*/
.section_1 ul li,
.section_2 ul li,
.section_5 ul li,
.tab_container img{
	transform:scale(1);
	transition:0.4s;
}
.section_1 ul li:hover,
.section_2 ul li:hover,
.section_5 ul li:hover{
	transform:scale(1.2);
	transition:0.4s;
}
.tab_container img:hover{
	transform:scale(1.1);transform-origin: 50% 50%;
	transition:0.4s;
	z-index:9;	
}

