@import url('fonts.css');
@font-face {
	font-family: 'NotoKrL';
}


.menu {
	width: 100%;
	border-bottom: 1px solid #ddd;
	background:#fff;
	position:relative;
	z-index:99999999;
}

/* general ul style */
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.menu > ul,
.menu .menu_inner {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1.875em;
	height:80px;
	line-height:40px;
}

.menu > ul > li {
	display: inline-block;
	height:78px;
}

.menu > ul > li:hover{
	border-bottom:3px solid black;
}

.menu > ul > li > a {
	font-size:18px;
	font-weight: 700;
	padding: 1em 1em;
	color: #000;
	display: inline-block;
}

.menu > ul > li > a:hover {
	color: #000;
}



/* sub-menu */
.menu .menu_sub {
	display: none;
	position: absolute;
	background: #fff;
	width: 100%;
	left: 0;
}

.cbp-hropen .menu_sub {
	display: block;
	padding-bottom: 3em;
}

.menu .menu_inner > div {
	width: 10%;
	float: left;
	padding: 0 2em 0;
}
.menu .menu_inner > div:last-child{
	float:right !important;
}
.menu #brand .menu_inner > div {
	width: 10%;
	padding: 0 2em 0;
}

.menu #vr .menu_inner > div {
	width: 50%;
	float: left;
	padding: 0 0em 0;
}
.menu #vr .menu_inner > div:last-child h4{
margin-left:400px;

}


.menu .menu_inner:before,
.menu .menu_inner:after {
	content: " ";
	display: table;
}

.menu .menu_inner:after {
	clear: both;
}

.menu .menu_inner > div a {
	line-height: 2em;
}

.menu_sub h4 {
	color: #000;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: 300;
}

.menu_sub ul li a{color:#000;}
.menu_sub ul li a:hover{color:#ccc;}


/*log-in*/
.menu .log-in{
	position:absolute;
	top:40%;
	left:1380px;
}
.menu .log-in li{
	display:inline-block;
	font-size:0;
	border-right:1px solid #ccc;
	padding:0 10px;
}
.menu .log-in li:last-child{
	border-right:0;
}
.menu .log-in li a{
	font-size:14px;
}






